# ROS 2 colcon build artifacts
build/
install/
log/

# Python cache 
__pycache__/
*.pyc

# VSCode settings
.vscode/

# Archivos temporales
*.swp
*.swo
*.bak
*~

# Archivos generados por colcon
*.log
*.pyc
*.pyo

# Archivos de sistema
.DS_Store
Thumbs.db
